$color-background: #FFF;
$color-main-text: #4D4E4E;
$color-header-text: #00468B;
$color-link: #337AB7;

$color-search-text: #555;
$color-search-background: #FFF;
$color-search-border: #CCC;

$color-searchbar-text: #FFF;
$color-searchbar-background: #18335D;

$color-gold-accent: #FFCE34;

$color-footer-text: #FFF;
$color-footer-background-top: #00468B;
$color-footer-background-bottom: #003F7D;
$color-footer-border: #FFF;

$color-navbar-text: #FFF;
$color-navbar-background: #00468B;
$color-navbar-text-hover: #4D4E4E;
$color-navbar-background-hover: #AFDBF4;
$color-navbar-background-active: #BAE6FF;

$color-button-mailing-list-text: #00468B;
$color-button-mailing-list-background: #FFF;
$color-button-mailing-list-background-hover: #EEE;

$color-code-border-default: #EEE;
$color-code-border-good: #7ACC00;
$color-code-border-bad: #C00;
