---
---
@charset "utf-8";

@import "syntax-highlighting";

/* =RESET
=============================================*/

html, body, #main-nav ul, #sidebar ul, #footer ul
{
	margin: 0;
	padding: 0;
}

/* =IMAGE-REPLACEMENT
=============================================*/

h1 a, .ucsb-link
{
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    text-align: left;
    text-indent: -999em;
    overflow: hidden;
    *line-height: 0;
}

h1 a br
{
	display: none;
}

/* =STRUCTURE
=============================================*/

body
{
	background: #A1B3C7 url(../images/bg-blue-lines.jpg);
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	margin: 8px 0 0 0;
}

#main
{
	/* three column background image
	  background: #FFF url(../images/content_back.png) no-repeat 200px 42px;
	*/
	/* tweaked version of the 3 column bg image to configure for 2 column layout */
	background: #FFF url(../images/content_back_2col.png) no-repeat 200px 42px;
	margin: 0 auto;
	width: 960px;
}

/* =GLOBAL
=============================================*/

a, a:visited
{
	color: #00356B;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:active
{
    color: #989898;
}

/* =UCSB-HEADER
=============================================*/

#ucsb-header
{
	background: #053768;
	color: #FFCA72;
	display: block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	margin: 0 0 16px 0;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
}

/* =HEADER
=============================================*/

.header
{
	border-bottom: 1px solid #CCC;
	margin: 0 0 40px 0;
	overflow: auto;
	position: relative;
}

h1 a
{
	background-image: url(../images/header.png);
	float: left;
	height: 88px;
	width: 290px;
	/* width: 538px; */
	/* width: 715px; */
}

/* =NAVIGATION
=============================================*/

.nav-header
{
    display: block;
	text-transform: uppercase;
    margin-bottom: 5px;
}

#main-nav, #sidebar
{
	padding-top: 139px;
}

#main-nav ul, #sidebar ul
{
	list-style: none;
    margin-bottom: 20px;
}

#main-nav li, #sidebar li
{
	margin: 0;
    padding: 3px 5px;
}

#main-nav li img
{
    margin-top: -8px;
}

#main-nav a, #sidebar a
{
	color: #00356B;
	text-decoration: none;
}

#main-nav a
{
    display: block;
}

#main-nav a:hover, #sidebar a:hover, #toc a:hover
{
    color: #989898;
}

#main-nav
{
	background: url(../images/storke_tower.png) 100px 0 no-repeat;
	float: left;
	font-weight: bold;
    padding-left: 10px;
	padding-right: 20px;
	text-align: right;
	width: 170px;
}

#main-nav .nav-header
{
	color: #656565;
}

#sidebar
{
	float: right;
	font-weight: bold;
	padding-left: 20px;
	width: 180px;
}

#sidebar ul
{
	margin-bottom: 30px;
}

.selected
{
    background-color: #e3edff;
    border-radius: 3px;
}

/* =CONTENT
=============================================*/

#content
{
	float: left;
	margin: 0 10px;
	padding-left: 20px;
	width: 700px;
	/* width: 538px; */
}

/* =FOOTER
=============================================*/

#footer
{
	border-top: 1px solid #CCC;
	clear: both;
	font-size: 0.75em;
	text-align: center;
	padding: 5px 0 15px;
}

#footer .copyright, #footer .contact, #footer ul
{
	display: block;
}

#footer ul
{
	font-size: 1.2em;
	font-weight: bold;
}

#footer li
{
	display: inline;
}

#footer a
{
	color: #000;
	text-decoration: none;
}

.ucsb-link
{
	background-image: url(../images/ucsb-logo-35.jpg);
	height: 23px;
	margin: 0 auto;
	width: 35px;
}

/* =SCREENREADERS
=============================================*/

.hidden
{
	color: red;
	left: -20em;
	position: absolute;
	top: -20em;
}

/* =CODE
=============================================*/

.highlight
{
	border: 3px solid #EEE;
	border-width: 0 0 0 3px;
	font-size: 1.25em;
	margin: 0 0 0 10px;
  max-width: 678px;
  overflow: auto;
	padding: 0 10px;
}

.highlight pre
{
	margin: 0;
}

.highlight.good
{
    border-color: #7ACC00;
}

.highlight.bad
{
    border-color: #C00;
}

/* =TABLE-OF-CONTENTS
=============================================*/

/*
#toc li
{

    background-color: red;
    color: red;
}
*/

#toc
{
	overflow: auto;
	width: 100%;
}

#toc span
{
	font-weight: bold;
	float: left;
	width: 15%;
}

#toc ul
{
	display: block;
	float: left;
	margin: 0 0 1px 0;
	padding: 0;
	width: 85%;
}

#toc ul li
{
	display: inline;
	margin-right: 4px;
	padding-bottom: 5px;
	line-height: 1.8em;
}

#toc ul li a
{
	background-color: #e3edff;
	border-radius: 3px;
	color: #00356B;
	padding: 4px;
	margin: 0px;
	font-size: 0.8em;
	white-space: nowrap;
	/* text-indent: -20px; */
}

/* =SEARCH
=============================================*/

.search-form
{
	bottom: 15px;
	float: right;
	position: absolute;
	right: 0;
}

.search-form input
{
	border: 1px solid #CCC;
	padding: 5px;
}

.search-form .search-btn
{
	background: #1967B3;
	border-radius: 3px;
	border-width: 0;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 10px;
}

.search-results
{
	border: 0;
	height: 1300px;
	width: 100%;
}

/* =PREVIEW (migrated from preview.css)
=============================================*/

#preview
{
	position:absolute;
	border:1px solid none;
	background:none;
	padding:1px;
	display:none;
	color:none;
}

.gfx-info .desc
{
	font-style: italic;
}

.gfx-info .format
{
	color: green;
}

/* =LAYOUT (migrated from layout.css)
=============================================*/

.browser-graph
{
    border: 2px solid #aaa;
    display: block;
    margin: 1em auto;
    width: 360px;
}

.swatch {
    display: table;
    border-collapse: collapse;
}
.swatch-row {
    display: table-row;
}
.swatch-cell {
    /*
    background-color: magenta;
    border: solid 2px black;
    */
    vertical-align: middle;
    width: 150px;
    display: table-cell;
}

.swatch-table th
{
	font-weight: normal;
	text-align: left;
}

.swatch-table .pantone
{
	display: block;
	font-weight: bold;
	width: 150px;
}

/* =CHECKLIST
=============================================*/

.checklist ul
{
	list-style-image: url(../images/checkbox.gif);
}

/* =PRINT
=============================================*/

@media print
{
    a, a:visited
    {
        text-decoration: underline;
    }

    a[href]:after
    {
        content: " (" attr(href) ")";
    }

    h1 a, h1 a:visited, h3 a, h3 a:visited
    {
    	text-decoration: none;
    }

    h1 a[href]:after, h3 a[href]:after
    {
        content: "";
    }

    #main
    {
        width: 100%;
    }

    #main-nav, .search-form, #toc, #ucsb-header
    {
        display: none;
    }

    h1 a
    {
        height: auto;
        margin-bottom: 1em;
        text-indent: 0;
        width: 100%;
    }

    .checklist
    {
        page-break-inside: avoid;
    }
}
