<footer class="container" id="footer" role="contentinfo" aria-label="footer">
<h2>WEBGUIDE</h2>
  <ul class="footer-nav row">
    <li class="col-ms-6 col-sm-2 "><a href="{{ "site-map" | relative_url }}">Site Map</a></li>
    <li class="col-ms-6 col-sm-2 "><a href="{{ "about" | relative_url }}">About Our Site</a></li>
    <li class="col-ms-6 col-sm-2 "><a href="http://www.ucsb.edu/terms-of-use">Terms of Use</a></li>
    <li class="col-ms-6 col-sm-2 "><a href="http://www.ucsb.edu/accessibility">Web Accessibility</a></li>
    <li class="col-ms-6 col-sm-3 col-sm-offset-1">
      <a href="{{ "contact/#join-mailing-list" | relative_url }}" class="mailinglist-button">Join Mailing List</a>
    </li>
  </ul>
  <section class="footer-secondary row">
    <p class="col-md-12">Copyright &copy; 2017 <a href="http://regents.universityofcalifornia.edu/">The Regents</a> of the <a href="http://www.universityofcalifornia.edu/">University of California</a>, All Rights Reserved. UC Santa Barbara, Santa Barbara, CA 93106 • (805) 893-8000</p>
  </section>
</footer>

<script src="{{ "scripts/jquery.min.js" | relative_url }}"></script>
<script src="{{ "scripts/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "scripts/main.min.js" | relative_url }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ "scripts/ie10-viewport-bug-workaround.min.js" | relative_url }}"></script>
