<head>
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }}{% endif %} - UCSB Web Standards Guide</title>
    <meta name="description" content="The UCSB Web Standards Guide is a guide to building semantic, accessible, and standards-compliant websites and web applications for the University of California, Santa Barbara">

    <link rel="stylesheet" href="{{ "style/main.css" | prepend: site.baseurl }}">

    <script>
      if(window.location.href.indexOf('webguide.ucsb.edu') !== -1)
      {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66254644-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
</head>
